extends layout
mixin room-search-form
    +search-form(action=url('/api/room.json'), attributes)
        h3.caption.float-left.no-margin=capitalize(pluralize(l.room || ''))
        +search('search_word', {}).float-right
        +hidden('limit')(value=1000)
        +hidden('skip')(value=0)
        br.clear

mixin room-destroy-form
    +destroy-form(action=url('/api/room/destroy'), attributes).invisible-form
        +hidden('_id')

mixin room-enter-form
    +post-form(action=url('/api/room/enter'),attributes).cover.room-enter-form
        .room-enter-form-inner
            +hidden('_id')
            +password('private_password').wide-input.large-font(placeholder=l.room_password)

            input(type='checkbox', name='remember_me')#remember_me-check
            +label('remember_me-check')=l.remember_me

            +submit-btn(capitalize(l.enter)).large-font

mixin room-detail-form
    +detail-form(action=url('/api/room/save'), autocomplete='off', attributes)
        #room-detail-form-inner
            +empty-link#room-detail-close-btn.close-btn.stick-right.stick-top &times;
            +hidden('_id')
            .float-right.hoverable-child
                +empty-link(capitalize(l.room_settings)).margin-link.setting-btn
                +destroy-btn()#room-destroy-btn
            h1
                #room-name-label

            table#room-detail-table.wide-table
                colgroup
                    col
                    col
                tbody
                    tr
                        th: +label('room-name-input')=l.room_name
                        td: +text('name', data)(id='room-name-input').wide-input
                    tr
                        th: +label('room-retention-input')=l.file_retention
                        td
                            +number('retention', {})(min="0", max="1000")#room-retention-input
                            span=l.days
                tbody.hidden
                    tr
                        th: label=l.privacy
                        td: each key in ['public', 'private']
                            input(type='radio', value=key, name='privacy', id='room-privacy-radio-'+key)
                            label(for='room-privacy-radio-'+key)
                                span(class=(key+'-btn'))=l[key]
                                span &nbsp;
                    tr.private-key-tr
                        th
                            +label('private_password-input')=l.room_private_password
                        td
                            span.key-btn
                            +password('private_password')(value=l.dummy_password))#private_password-input
                            +hidden('private_password_changed')(value='false')#private_password_changed-input
                    tr.private-key-tr
                        th
                            +label('private_password_again')=l.room_private_password_again
                        td
                            span.key-btn
                            +password('private_password_again')(value=l.dummy_password)#private_password_again-input




            +submit-btn(l.save)
            +reset-btn(l.reset).hidden

block stylesheets
    +css('room.css')
block javascripts
    +js('validation/v.room.js')
    +js('p.room.js')
block content
    aside.wide-aside
        section#room-list-section
            +room-search-form#room-search-form
            .y-scrollable
                ul#room-list.editable-list
            +new-btn#new-room-btn
    article
        section#room-detail-section(data-ref=url('/api/room/:_id'))
            +room-destroy-form#room-destroy-form
            +room-enter-form#room-enter-form
            +room-detail-form#room-detail-form
            .float-left#file-upload-div(data-post=url('/upload/room_file'))

            ul#room-file-list

